*

!.vscodeignore
!package.json
!language-configuration.json
!syntaxes/
!snippets/

!README.md
!LICENSE

!client/out/*.js
!client/out/*.js.map
!server/out/*.js
!server/out/*.js.map

.git/
.vscode/
node_modules/
dist/
src/
tsconfig*.json
*.tsbuildinfo
.DS_Store
Thumbs.db
